/* Global Styles */
img {
display: block;
margin: auto;
width: 100%;
}

body {
    background-color: bisque;
}

#container {
    background-color: cadetblue;
    padding: 30px;
}

h1,
h2,
h3 {
    text-align: center;
}

a {
    color: blue;
}

a :hover {
    color: crimson;
    text-decoration: none;
}

/* Mobile Styles */
nav {
    background-color: crimson;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: ghostwhite;
    background-color: crimson;
    text-align: center;
    margin: 5px;
    font-size: 20px;
    font-weight: 20px;
    text-decoration: none;
}

nav li a:hover {
    background-color: blue;
}

header h1 {
    font-size: 35px;
    text-align: center;
}


#lower {
    border: 2px solid black;
    padding: 10px;
}

.col {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

footer {
    padding: 40px 0;
    text-align: center;
}

.button {
    display: block;
    margin: 10px;
    text-align: center;
    background-color: black;
    width: 125px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    border: 2px solid blue;
    border-radius: 10px;
    font-weight: bold;
}

.button:hover {
    color: black;
}


@media (min-width: 786px) {
    nav {
     text-align: center;
    }
    
    nav li {
        display: inline-block;
    }

    nav li a {
        width: 200px;
    }

    main img {
        width: 75%
    }

    #lower {
        width: 75%;
        margin: 0 auto;
    }

    .col img {
        width: 75%;
    }

}

@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
    }

    #lower {
        width: 100%;
        display: flex;
    }

    .col {
        width: 33.33%;
    }
}
